{% extends 'website/main.html' %}
{% load static %}

{% block title %}Password Change{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{% static 'website/css/userpage.css' %}">
    </head>

    <div class="container">
        <div class="block">
            <form action="{% url 'password-change' %}" method="POST">
                {% csrf_token %}
                <h1>Password Settings</h1>
                <p>Current Password: {{ change_form.old_password }}</p>
                <p>New Password: {{ change_form.new_password1 }}</p>
                <p>Confirm Password: {{ change_form.new_password2 }}</p>
                <button onclick="changePassword()">Save Changes</button>
            </form>
        </div>
    </div>

{% endblock %}