{% extends 'website/main.html' %}

{% block title %}{{ store.name }}{% endblock %}

{% block body %}
    {% if store %}
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="warehouse-info">
                    <h2>{{ store.name }}</h2>
                    <table class="table table-bordered text-center my-table">
                        <thead>
                        <tr>
                            <th>Name of product</th>
                            <th>Numbers</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if products %}
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.numbers }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div>

                    <a href="{% url 'expense_product' store.id %}">
                        <button class="btn btn-success" type="button">Продать</button>
                    </a>
                </div>
            <div>
                <a href="{% url 'arrivals' %}"><button class="btn btn-secondary" type="button">Приход</button></a>
                <a href="{% url 'expense_history' store.id %}"><button class="btn btn-danger" type="button">Расход</button></a>
            </div>
            </div>
        </div>

        <div class="pagination">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current-page">{{ products.number }}</span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">Следующая</a>
            {% endif %}
        </div>

    {% endif %}
    <style>
        .container {
            margin-top: 80px;
            overflow: hidden;
        }

        .btn {
            font-size: 16px;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
        }

        .btn-secondary {
            background-color: #3d4044;
            border-color: #3d4044;
            margin-left: 10px;
            margin-right: 10px;
        }

        .btn-secondary:hover {
            background-color: #3d4044;
            border-color: #3d4044;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

        .my-table th, .my-table td {
            font-size: 16px;
            padding: 10px;
            width: 300px;
        }

        .my-table th {
            background-color: #3d4044;
            color: #fff;
        }

        .my-table tbody tr:nth-child(even) {
            background-color: #f8f9fa;
        }

        .my-table tbody tr:hover {
            background-color: #e9ecef;
        }

        .pagination {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .pagination a {
            margin: 0 10px;
            color: #3c3c41;
            text-decoration: none;
        }

        .pagination .current-page {
            margin: 0 10px;
            font-weight: bold;
        }

    </style>
{% endblock %}